.Logo {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	overflow: hidden;
	height: 100%;
	padding-right: 24px;
	//padding: 0 24px;
	cursor: pointer;
	user-select: none;

	img {
		width: 120px;
	}
}