**/.git
**/.svn
**/.hg
**/node_modules
*.html
*.json

build/**
dist/**
/coverage/**
/docs/*
!/docs/*.js
!/docs/*.ts
!/docs/tools/
/jsdoc/**
/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tmp/**
/tools/internal-rules/node_modules/**
test.js
test.ts
!.eslintrc.js
!.eslintrc.ts
*.config.ts
*.config.js
*.cjs
*.mjs

.yarn