@import "src/styles/color";

.Breadcrum {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 8px;
	flex-grow: 1;

	.container {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		gap: 8px;
		color: $mono2;
	}
}

.Seperator {
	display: flex;
	flex-flow: row nowrap;
}