.nav-text {
	display: inline;
	@media (max-width: 600px) {
		display: none;
	}
}

.nav-icon {
	display: none;

	@media (max-width: 600px) {
		display: inline-block;
		img {
			width: 50px;
			height: 50px;
		}
	}

	@media (max-width: 420px) {
		display: inline-block;
		img {
			width: 35px;
			height: 35px;
		}
	}
}

.subnav-icon {
	display: none;

	@media (max-width: 600px) {
		display: inline-block;
		img {
			width: 45px;
			height: 27px;
		}
	}

	@media (max-width: 420px) {
		display: inline-block;
		img {
			width: 37.5px;
			height: 22.5px;
		}
	}
}