.HomeHero {
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding: 96px 16px 48px;
	margin: 0 auto;
	text-align: center;

	@media (min-width: 900px) {
		max-width: 1122px;
	}

	@media (min-width: 600px) {
		padding-right: 24px;
		padding-left: 24px;
	}

	.title {
		font-size: 40px;
		margin-bottom: 16px;
		line-height: 1.35;
		font-weight: bold;
	}
	.subtitle {
		font-size: 20px;
		line-height: 1.35;

		a {
			span {
				text-decoration: underline;
			}
		}
	}
}