@import "src/styles/color";

.ItemModal {
	display: flex;
	flex-flow: column nowrap;
	width: 840px;
	gap: 24px;
	padding: 12px 8px;

	@media (max-width: 900px) {
		width: calc(100vw - 64px);
	}

	.item-name-index {
		display: flex;
		flex-flow: row nowrap;

		@media (max-width: 400px) {
			flex-flow: row wrap;
			gap: 8px;
			justify-content: center;
		}

		.item-index {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: center;
			min-width: 128px;

			@media (max-width: 500px) {
				min-width: 68px;
			}
		}

		.item-name {
			display: flex;
			flex-flow: column wrap;
			color: $primary;
			justify-content: center;
			align-items: center;
			padding: 0 16px;
			gap: 4px;
			flex-grow: 1;

			& > span {
				flex-flow: row wrap !important;
			}
		}
	}

	.item-gain-category {
		display: flex;
		flex-flow: column wrap;
		gap: 8px;

		.box-gain-category {
			display: flex;
			flex-flow: row wrap;
			gap: 12px;

			.item-gain {
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				flex-grow: 1;
			}

			.item-category {
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				gap: 8px;
				flex-grow: 1;
				min-width: 210px;

				& > div {
					flex-grow: 1;
				}
			}
		}
	}

	.item-status {
		display: flex;
		flex-flow: column nowrap;
		gap: 8px;

		.box-status {
			display: flex;
			flex-flow: row wrap;
			gap: 8px;

			& > div {
				flex-grow: 1;
			}
		}
	}

	.item-usage {
		display: flex;
		flex-flow: column nowrap;
		gap: 8px;
	}

	.item-explain {
		display: flex;
		flex-flow: column nowrap;
		gap: 8px;
	}

	.block-status {
		display: flex;
		flex-flow: column nowrap;
		flex-grow: 1;
		align-items: center;
		text-align: center;
	}
}