$primary: #001e3c;
$secondary: #ff6600;

$font1: #1a2027;
$font2: #0072e5;
$font3: #66b2ff;

$mono1: #e7ebf0;
$mono2: #b2bac2;

$background1: #f1f1f2;
$background2: #fafbfd;
$background3: #f0f7ff;

$border1: #ffffff1f;
$border2: #003a7533;
$border3: #132f4c;