$white1: #fff;
$white2: #f1f1f2;
$white3: #ececec;

$grey1: #dbdbdb;
$grey2: #c1c1c1;
$grey3: #ababab;

$black1: #121212;
$black2: #454545;
$black3: #777;
$black4: #999;

$orange1: #fa7000;
$orange2: #ffb96d;
$orange3: #e2552d;

$blue1: #003;
$blue2: #4d4d70;
$blue3: #808099;
$blue4: #b3b3c2;
$blue5: #ccccd6;
$blue6: #e6e6eb;
$blue7: #f4f4ff;