$primary: #001e3c;
$secondary: #494408;

$font: #003;
$fontmid: #4D4D70;
$fontweak: #808099;

$background: #f1f1f2;
$backweak: #f4f4ff;

$border: #CECFDB;
$borlight: #E6E7ED;
$bordark: #9C9EB6;

$white: #fff;