@font-face {
	font-family: 'Noto Sans';
	src: local("NotoSansKR-Bold"),
		url("src/resoures/fonts/NotoSansKR-Bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans';
	src: local("NotoSansKR-Medium"),
	url("src/resoures/fonts/NotoSansKR-Medium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans';
	src: local("NotoSansKR-Regular"),
	url("src/resoures/fonts/NotoSansKR-Regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
}