@import "src/styles/color";

body {
	background-color: $background;
	color: $font;
	font-size: 16px;
	line-height: 1rem;
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
}

#root {
	height: 100vh;
}