@import "src/styles/color";

.SearchBar {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 5px;
	border-radius: 8px;
	overflow: hidden;
	width: fit-content;
	//min-width: 480px;

	&.dark {
		color: #fff;
		border: 1px solid #132f4c;
	}
}

.search-input {
	display: flex;
	flex-flow: row nowrap;
	background-color: transparent;
	outline: none;
	font-size: 14px;
	font-family: 'Noto Sans', sans-serif;
	letter-spacing: 0.05em;
	overflow: hidden;

	width: 417px;
	margin-left: 11px;
	margin-right: 16px;

	&::placeholder {
		color: #b2bac2;
	}
}

.Icon {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	min-width: 24px;
	width: 24px;
	height: 24px;
	color: $secondary;

	.searchIcon {
		width: 20px;
		height: 20px;
	}
}