.SearchBar {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	min-width: 200px;
	width: 100%;
	max-width: 600px;
	max-height: 48px;
	padding: 8px 16px;
	border-radius: 10px;
	gap: 24px;

	&.dark {
		color: #fff;
		border: 1px solid #132f4c;
	}
}

.search-input {
	display: flex;
	flex-flow: row nowrap;
	background-color: transparent;
	outline: none;
	font-size: 14px;
	flex-grow: 1;
	font-family: 'Noto Sans', sans-serif;
	letter-spacing: 0.05em;

	&::placeholder {
		color: #b2bac2;
	}
}

.Icon {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	cursor: pointer;

	.searchIcon {
		width: 20px;
		height: 20px;
	}
}