@import "src/styles/color";

.Link {
	display: flex;
	flex-flow: row nowrap;
	color: $mono2;
	cursor: pointer;

	&:hover:not(.current) {
		text-decoration: underline;
	}

	&.current {
		color: $mono1;
		cursor: default;
	}

	&.disable {}
}