body {
	.MuiTooltip-tooltip {
		background-color: #fff;
		color: #333;
		max-width: 280px;
		font-size: 14px;
		padding: 18px;
		box-shadow: rgba(0, 0, 0, 0.25) 0 3px 10px 0;

		@media (max-width: 600px) {
			max-width: 240px;
		}
		@media (max-width: 450px) {
			max-width: 200px;
		}

		p.title {
			font-weight: bold;
		}
		hr.line {
			margin: 12px 0;
		}
		p.nickholder {
			display: flex;
			flex-flow: row wrap;
			gap: 12px;
			color: #666;
			font-weight: bold;
		}
		p.comment {
			line-height: 1.5em;
		}
	}

	.MuiTooltip-arrow {
		color: #fff;
	}
}