.Icon-container {
	display: inline-block;
	border: 4px solid grey;
	border-radius: .25rem !important;
	line-height: 45px;

	.Icon-image {
		display: block;
		width: 100%;
		height: 100%;
	}

	width: 120px;
	height: 120px;

	@media (max-width: 600px) {
		width: 90px;
		height: 90px;
	}

	@media (max-width: 420px) {
		width: 45px;
		height: 45px;
	}
}

.ultra-rare {
	background: linear-gradient(120deg, #fbffca, #baffbf, #a7efff, #ffabff);
}

.superior-super-rare {
	background-color: #ee9;
}

.super-rare {
	background-color: #c4adff;
}

.rare {
	background-color: #9fe8ff;
}