@import "src/styles/color";

.Button {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.Select {
	padding: 8px;
	border: 1px solid transparent;
	border-radius: 10px;
	cursor: pointer;

	&.dark {
		color: #66b2ff;
		border-color: #132f4c;

		&:hover {
			background-color: #173a5e;
		}
	}

	&.light {
		color: #66b2ff;
		border-color: #e0e3e7;

		&:hover {
			background-color: #f3f6f9;
		}
	}
}