@import "src/styles/color";

.Button {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.Select {
	border: 1px solid $border3;
	border-radius: 8px;
	cursor: pointer;
	color: $font3;

	&:hover {
		background-color: rgba(255, 255, 255, .3);
	}
}