.header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: 21px;
	box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px 0;
	line-height: 18px;

	.title {
		font-weight: bold;
		font-size: 18px;

		a {
			color: #333;
		}
	}

	nav {
		.menu {
			display: inline-block;

			&:last-of-type {
				margin-left: 24px;
			}
		}
	}
}