.Home {
	padding-top: 24px;
	padding-bottom: 48px;

	.Home-container {
		display: flex;
		flex-flow: column nowrap;
		gap: 48px;
		margin: 0 36px;
		padding: 48px 24px;
		box-shadow: rgba(0, 0, 0, 0.15) 0 5px 25px 0;
	}

	a {
		font-weight: bold;
		color: #1976d2;
	}
}