@import "src/styles/color";

.Header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 64px;
	height: 64px;
	min-height: 64px;
	color: $white;
	background-color: $primary;
	padding: 0 24px;
}

.search-area {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	flex-grow: 1;
}