.Header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	height: 56px;
	min-height: 56px;
	padding: 0 24px;
}

.logo {
	display: flex;
	flex-flow: row nowrap;
	width: fit-content;
	max-width: fit-content;
	min-width: fit-content;
	margin-right: 64px;
}

.toolbar {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;

	&.end {
		justify-content: flex-end;
	}
}