@import "src/styles/color";

.Obtain {
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
	//height: 120px;
	width: 100%;
}

.obtains-container {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 16px;
}

.obtains {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	background: radial-gradient(#f3f6f9 60%, rgba(0,0,0,0));
	border-radius: 4px;
	min-width: 200px;

	&.multi-image {
		max-width: 200px;
	}

	& > p {
		font-size: 14px;
		position: absolute;
		//background: radial-gradient(rgba(255, 255, 255, 0.6), rgba(0,0,0,0));
		background-color: rgba(255, 255, 255, 0.6);
		backdrop-filter: blur(4px);
		padding: 2px 4px;
	}
}

.image {
	position: relative;
	height: 120px;
}

p.gain {
	font-weight: 500;
	top: 0;
	left: 0;
	border-radius: 0 0 4px 0;
}
p.detail {
	font-weight: 400;
	bottom: 0;
	right: 0;
	border-radius: 4px 0 0 0;
}

//.Images {
//	display: flex;
//	flex-flow: row nowrap;
//	align-items: center;
//	flex-grow: 1;
//	width: 100%;
//
//	.Image {}
//
//	&.multi-image {
//
//	}
//}

//.Text {
//	display: flex;
//	flex-flow: column nowrap;
//	flex-grow: 1;
//	justify-content: center;
//	background-color: #f3f6f9;
//	border-radius: 4px;
//	padding: 4px;
//	gap: 8px;
//	width: 100%;
//}

//.obtain-text {
//	display: flex;
//	flex-flow: column nowrap;
//	width: 100%;
//	font-size: 14px;
//
//	& > p {
//		display: block;
//		min-width: 120px;
//		overflow: hidden;
//		text-overflow: ellipsis;
//		white-space: nowrap;
//	}
//}