@import "src/styles/color";

.Typo {
	display: flex;
	flex-flow: row nowrap;
	align-content: center;

	&.title {
		font-family: 'Nunito Sans', sans-serif;
		font-weight: 700;
		font-size: 28px;
		line-height: 1em;
	}
	&.h1 {
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: 700;
		font-size: 28px;
		line-height: 1em;
	}
	&.h2 {
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: 700;
		font-size: 24px;
		line-height: 1em;
		letter-spacing: 0.005em;
	}
	&.h3 {
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: 700;
		font-size: 18px;
		line-height: 1em;
		letter-spacing: 0.01em;
	}
	&.body1 {
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		letter-spacing: 0.02em;
	}
	&.body2 {
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.02em;
	}
	&.subtext {
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.02em;
	}

	&.left {
		justify-content: start;
	}
	&.right {
		justify-content: end;
	}
	&.center {
		justify-content: center;
	}
}