.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.fg1 {
  flex-grow: 1;
}

.ai-c {
  align-items: center;
}
.ai-fs {
  align-items: flex-start;
}
.ai-fe {
  align-items: flex-end;
}

.jc-c {
  justify-content: center;
}
.jc-sb {
  justify-content: space-between;
}
.jc-fs {
  justify-content: flex-start;
}
.jc-fe {
  justify-content: flex-end;
}

.grid {
  display: grid;
}

.block {
  display: block;
}

.bb {
  box-sizing: border-box;
}

.ov-h {
  overflow: hidden;
}
.ov-a {
  overflow: auto;
}
.ov-a::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.ov-a::-webkit-scrollbar-thumb {
  background-color: var(--scroll);
  border-radius: 4px;
}
.ov-a::-webkit-scrollbar-track {
  background-color: transparent;
}

.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}
.pos-s {
  position: sticky;
}
.pos-f {
  position: fixed;
}

.ta-c {
  text-align: center;
}

.h100 {
  height: 100%;
}

.cur-d {
  cursor: default;
}
.cur-p {
  cursor: pointer;
}
