.noto-sans-kr-bold {
  font-family: 'Noto Sans KR', Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.noto-sans-kr-medium {
  font-family: 'Noto Sans KR', Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

*, .noto-sans-kr-regular {
  font-family: 'Noto Sans KR', Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
