/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: cover 99.5%
*/

@import './reset.css';
@import './layout.css';
@import './typo.css';
@import './theme.css';
/*@import '../font/fonts.css';*/

:root {
  /*font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', Roboto,*/
  /*  'Noto Sans KR', 'Segoe UI', 'Pretendard Variable', Pretendard,*/
  /*  'Malgun Gothic', sans-serif;*/
  font-family: 'Pretendard Variable', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  font-size: 16px;
  font-weight: 400;
  line-height: 1rem;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--surface);
}

.wrap {
  width: 100%;
  max-width: 2048px;
  margin: 0 auto;
}

mark {
  color: #1f3143;
  background-color: #fd9532;
}
