:root {
  font-size: 16px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  color: var(--font);
  background-color: var(--surface);
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.wrap {
  max-width: 1856px;
  margin: 0 auto;
}

.page {
  padding: 2rem;
}

.header-adder {
  padding-top: 51px;
}

.loader {
  display: flex;
  justify-content: center;
  padding: 1rem;
  height: 72px;
  box-sizing: border-box;
}

.global-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: #0000007f;
}
