:root {
  --primary: #ffb74d; /* primary color */
  --on-primary: #1c2025; /* font color : on primary colored background */
  --primary-hover: #b28035; /* primary color : if hovered */
  --surface-main: #0f1924; /* background accent */
}

@media (prefers-color-scheme: light) {
  :root {
    --link: #006bd6; /* link color */
    --link-lc: #66b3ff;
    --link-bc: #ebf5ff;

    --scroll: #686868;
    --surface: #fafafa; /* background default */

    --fc-s: #101418; /* font color strong */
    --fc: #1c2025; /* font color normal */
    --fc-w: #999999; /* font color weak */

    --lc-w: #00000014; /* border color weak */
    --lc: #0000003a; /* border color normal */

    --bc: #f4f5f7; /*  */
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --link: #66b3ff; /* link color */
    --link-lc: #0061C2;
    --link-bc: #003B75;

    --scroll: #686868;
    --surface: #101418; /* background default */

    --fc-s: #f3f6f9; /* font color strong */
    --fc: #b0b8c4; /* font color normal */
    --fc-w: #777777; /* font color weak */

    --lc-w: #ffffff14; /* border color weak */
    --lc: #ffffff3a; /* border color normal */

    --bc: #262a32; /*  */
  }
}
