:root {
  --primary: #ffb74d; /* primary color */
  --on-primary: #1c2025; /* font color : on primary colored background */
  --primary-hover: #b28035; /* primary color : if hovered */
  --link: #66b3ff; /* link color */

  --surface: #101418; /* background default */
  --surface-main: #0f1924; /* background accent */
  --bc-hover: #ffffff7a; /* background color : if hover */

  --fc-s: #f3f6f9; /* font color strong */
  --fc: #b0b8c4; /* font color normal */
  --fc-w: #777777; /* font color weak */

  --lc-w: #ffffff14; /* border color weak */
  --lc: #ffffff3a; /* border color normal */
}
