.fcw {
  color: var(--font-weak);
}
.fc {
  color: var(--font);
}
.fcs {
  color: var(--font-strong);
}

.fzm {
  /* font-size: megazine */
  font-size: 2rem; /* 32 */
}
.fzn {
  /* font-size: news */
  font-size: 1.75rem; /* 28 */
}
.fzh {
  /* font-size: headline */
  font-size: 1.5rem; /* 24 */
}
.fzl {
  /* font-size: header */
  font-size: 1.25rem; /* 20 */
}
.fzs {
  /* font-size: subtitle */
  font-size: 1.125rem; /* 18 */
}
.fzp {
  /* font-size: paragraph */
  font-size: 1rem; /* 16 */
}
.fzb {
  /* font-size: body */
  font-size: 0.875rem; /* 14 */
}
.fza {
  /* font-size: annotation */
  font-size: 0.75rem; /* 12 */
}
.fzc {
  /* font-size: caption */
  font-size: 0.625rem; /* 10 */
}

.fwb {
  font-family: 'Noto Sans KR', Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.fwm {
  font-family: 'Noto Sans KR', Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.fwr {
  font-family: 'Noto Sans KR', Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lh {
  line-height: 1em;
}
