.Portrait {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	border: 4px solid transparent;

	& > img {
		width: 90%;
		height: 90%;
	}
}

.sx {
	width: 32px;
	height: 32px;
	border-radius: 2px;
}
.mx {
	width: 64px;
	height: 64px;
	border-radius: 4px;
}
.lx {
	width: 128px;
	height: 128px;
	border-radius: 8px;
}

.UR {
	background: linear-gradient(120deg, #fbffca, #baffbf, #a7efff, #ffabff);
}
.SSR {
	background-color: #ee9;
}
.SR {
	background-color: #c4adff;
}
.R {
	background-color: #9fe8ff;
}

.gold {
	border-color: #F9CB0F;
}
.red {
	border-color: #FF2620;
}
.blue {
	border-color: #4470EA;
}
.grey {
	border-color: #666;
}