.Typo {
	display: inline-flex;
	flex-flow: row nowrap;
	align-items: center;

	&.S {
		line-height: 1.5em;
	}
	&.M {
		line-height: 1.75em;
	}
}

.h1 {
	font-size: 24px;
	font-weight: 700;
}
.h2 {
	font-size: 18px;
	font-weight: 500;
}
.p1 {
	font-size: 16px;
	font-weight: 500;
}
.p2 {
	font-size: 14px;
	font-weight: 400;
}
.p3 {
	font-size: 12px;
	font-weight: 400;
}