.NavLinks {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin-top: 24px;
	padding: 0 24px;
	gap: 16px;

	a {
		color: #333;
		font-size: 18px;
	}

	.active {
		font-weight: bold;
		color: red;
	}
}

.line {
	margin: 24px;
}