@import "src/styles/color";

.Modal {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	height: calc(100vh + 20px);

	&.show {
		animation: show-modal .2s forwards;
	}
	&.hide {
		animation: hide-modal .2s forwards;
	}
}

.shadow {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: calc(100%);
	background-color: $shadow1;
	//padding: 10px 0;
}

.container {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	min-width: 240px;
	min-height: 320px;
	max-height: calc(100% - 96px);
	overflow: hidden;
	background-color: $background1;
	border-radius: 8px;
	overflow-y: auto;
}

.header {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: end;

	.icon {
		padding: 6px;
		width: 36px;
		height: 36px;
		cursor: pointer;
		color: $primary;
	}
}

.contents {
	padding: 16px;
	height: 100%;

	@media (max-width: 480px) {
		padding: 8px;
	}
}

@keyframes show-modal {
	0% {
		visibility: visible;
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes hide-modal {
	0% {
		opacity: 1;
	}
	99% {
		opacity: 0;
	}
	100% {
		visibility: hidden;
	}
}