<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="azurlane, azurlane_item">
    <meta property='og:site_name' content="장비설명회 웹버전">
    <meta property='og:title' content="장비설명회 웹버전">
    <meta property='og:description' content="마지막 업뎃:24-04-08. 페파플 설명 변경.">
    <meta property='og:image' content="https://raw.githubusercontent.com/gateisbug/alit/master/view/public/assets/og-image.png">
    <title>(24-04-08) 장비 설명회.Web</title>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="src/views/main.tsx"></script>
  </body>
</html>
