.NotFound {
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
	justify-content: center;
	color: #003;

	.container {
		display: flex;
		flex-flow: column nowrap;
	}

	h1, h2, p {
		display: flex;
		flex-flow: row nowrap;
		align-content: center;
		justify-content: center;
		line-height: 1em;
		font-family: 'Noto Sans KR', sans-serif;
	}

	h1 {
		font-weight: 700;
		font-size: 180px;
		margin-bottom: 24px;
	}
	h2 {
		font-weight: 700;
		font-size: 48px;
		margin-bottom: 24px;
	}
	p {
		text-align: center;
		justify-items: center;
		font-weight: 500;
		font-size: 24px;
		margin-bottom: 48px;
		padding: 0 144px;
	}
}

.button {
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	justify-content: center;
	margin: 0 auto;
	width: 200px;
	padding: 12px 48px;
	cursor: pointer;
	border: 3px solid #999;
}